.button {
	border-radius: 9999px;
	height: fit-content;
	width: fit-content;
	background-color: var(--color-p);
	color: var(--color-light);
	padding: .75em 1.5em;
	border: none;
	cursor: pointer;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
	font-family: Causten;
	font-weight: 600;
	font-size: 20px;
}

.ghost.button {
	background-color: var(--color-slm);
	border: 1px solid var(--color-p);
	color: var(--color-p);
	box-shadow: none;
	padding: .6em 1.5em;
	font-size: 16px;
	font-weight: 400;
}
