.button {
	border-radius: 5px;
	height: fit-content;
	width: fit-content;
	background-color: var(--color-p);
	color: var(--color-light);
	padding: .5em 1.25em;
	border: none;
	cursor: pointer;
	font-family: Causten;
	font-size: 20px;
}

.ghost.button {
	background-color: var(--color-slm);
	border: 1px solid var(--color-p);
	color: var(--color-p);
	box-shadow: none;
	padding: .6em 1.5em;
	font-size: 16px;
	font-weight: 400;
}
