.trigger {
  border: none;
  background: transparent;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.dropdownBox {
  border: 1px solid var(--color-sd);
  border-radius: 0.5em;
	overflow: hidden;
	background-color: var(--color-light);
	padding: 1em; 
  .item {
		padding: 0 0.5em;
    &:hover {
      background: var(--color-sd);
      a {
        color: var(--color-light);
      }
    }
  }
	.item.indent {
		padding-left: 1.5em;
	}
	.title {
		font-weight: bold;
		font-size: 20px; 
		color: var(--color-sd);
		margin: 0  0 .25em 0; 
	}
}
