@import "utils/styles/variables";

.pulseDot {
  z-index: 101;
  cursor: pointer;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  &:before {
    content: "";
    display: block;
    position: relative;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    border-radius: 50%;
    background-color: var(--color-light);
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  .plus {
    position: absolute;
    left: -5px;
    top: -9px;
    width: 42px;
    height: 42px;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%,
    100% {
      opacity: 0;
    }
  }

  @keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
}

.pulseDot.noPulse {
  &:before {
    display: none;
  }
  .plus {
    animation: none;
  }
}

.containerHero {
	height: 60em;
	margin-bottom: -6em;
	.heroImageXLContainer {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100vw;
		height: calc(100% + 6em); 
		background-color: var(--color-bgl);
		object-position: top; 
		.heroImageXL {
			width: 40em;
			position: absolute;
			bottom: 0;
			left: calc(50% - 5em);
		}
	}
	.heroImage {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100vw;
		height: calc(100% + 6em); 
		object-fit: cover;
		object-position: bottom;
	}
	.heroTagline {
		position: relative;
		margin: 10em 15em;
		.title {
			font-weight: normal;
		}
		.subtitle {
			font-weight: normal;
			color: var(--color-p);
		}
		.button {
			margin: 1em 0;
		}
		@include responsive-page-padding(0);
	}
}
.containerDenturesAndImplants {
  background-image: url("/png/denture-and-implant-background.png");
  height: 1000px;
  z-index: 10;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  @include responsive-page-padding(0);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 3em;
    width: clamp($breakpoint-sm, 100%, $breakpoint-xl);
    height: 100%;
    .dentures,
    .implants {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .images {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      .label {
        color: var(--color-grey);
        font-size: 24px;
      }
      .implants,
      .denture {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0.5em;
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    .title {
      font-weight: 400;
      margin: 1em 0;
    }
    .fontFade {
      color: var(--color-pm);
    }
    .fontLight {
      color: var(--color-light);
    }
  }
}

.containerHealthFunds {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: fit-content;
  background-color: var(--color-light);

  .smilingWoman {
    object-fit: scale-down;
    object-position: left bottom;
    position: absolute;
    height: 25em;
    left: 0;
    bottom: 0;
  }

  .logos {
    @include responsive-page-padding(2em);
    height: fit-content;
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-weight: normal;
      color: black;
			.bold {
				font-weight: bold; 
			}
    }

    .healthFundLogos {
      display: flex;
			flex-wrap: wrap; 
      align-items: center;
      justify-content: center;
      width: 100%;
      .healthFundLogo {
        margin: 1em;
        max-width: 15em;
        max-height: 4em;
        object-fit: scale-down;
      }
    }
  }
  .superannuation {
    height: 20em;
    width: 100%;
    background-color: var(--color-grey);
    padding: 6em 0 6em 25em;
    .title {
      .light {
        font-weight: 300;
      }
      color: var(--color-sd);
    }
    .description {
      font-size: 24px;
    }
    .link {
      color: var(--color-sd);
      font-weight: bold;
    }
  }
}

.containerReviewsWrapper {
  position: relative;
  height: 150%;
	width: 100%; 
	background-image: url('/png/background-2.png');
	background-repeat: no-repeat;
	background-size: 100%; 
  .reviews {
		height: 100%;
		width: 100%; 
    display: flex;
		flex-direction: column;
    align-items: center;
    justify-content: flex-start;
		padding-top: 5em; 
    .title {
      font-weight: normal;
      color: var(--color-light);
    }

		.containerCard {
			width: 100%; 
			display: flex;
			padding-top: 2em; 
			justify-content: space-around;

			.card {
				width: 30%; 
				border-radius: 10px;
				background-color: var(--color-light); 
				padding: 2em;
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
				display: flex;
				flex-direction: column; 
				justify-content: space-between;
				.textReviewer,
				.textReview {
					@include p;
				}
				.textReview {
					margin: 0 0 1em 0; 
				}
				.textReviewer {
					margin: 0; 
					width: 100%; 
					display: flex;
					justify-content: flex-end;
				}
			}
			@include md {
				flex-direction: column;
				.card {
					width: calc(100% - 4em)
				}
			}
		}
	}
}
