@import "utils/styles/variables";

.containerHero {
  height: 58em;
  @include xl {
    margin-bottom: -7em;
  }
  @include sm {
    margin-bottom: -8em;
  }
	@include xxs {
		height: 50em;
		margin-bottom: -13em;
	}
	.slide1 {
		height: 100%;
		display: flex;
		.heroImageXLContainer {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100vw;
			height: 100%;
			background-color: var(--color-light);
			object-position: top;
			.heroImageXL {
				width: 40em;
				position: absolute;
				bottom: 0;
				left: calc(50% - 5em);
			}
		}
		.heroImage {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100vw;
			height: calc(100% + 6em);
			object-fit: cover;
			object-position: bottom;
		}
		.heroTagline {
			margin: auto;
			width: 80em;
			position: relative;
			.title {
				font-weight: normal;
			}
			.subtitle {
				font-weight: normal;
				color: var(--color-p);
			}
			.button {
				margin: 1em 0;
			}
			@include responsive-page-padding(0);
		}
	}
  .slide2 {
    display: flex;
    height: calc(100% - 200px);
    margin-top: 200px;
    flex-direction: column;
    .images {
      display: flex;
      height: calc(100% - 15em);
      width: 100%;
      img {
        width: 50%;
        height: 100%;
        object-position: top;
        object-fit: cover;
      }
    }
    .title {
      margin: 2em auto;
      font-weight: 400;
      .bold {
        font-weight: 600;
      }
    }
    @include xs {
      .title {
				margin: 0 auto; 
        padding: 0 2em;
      }
      .images {
        padding: 0 2em;
        flex-direction: column;
        img {
          height: calc(50% - 2em);
          width: 100%;
        }
      }
    }
  }
}
.containerDenturesAndImplants {
  background-image: url("/png/denture-and-implant-background-flat.png");
  height: 1000px;
  z-index: 1;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    .dentures,
    .implants {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .dentures {
      padding-bottom: 2em;
      .images {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .implants {
      .images {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .images {
      height: 100%;
      width: fit-content;
      display: grid;
      grid-column-gap: 5em;
      align-items: end;
      .label {
        margin: 0;
        white-space: nowrap;
        color: var(--color-grey);
        font-size: 24px;
      }
      .implant,
      .denture {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0.5em;
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    .title {
      margin: 0 0 1em 0;
      font-weight: 400;
    }
    .fontFade {
      color: var(--color-pm);
    }
    .fontLight {
      color: var(--color-light);
    }
  }

  @include responsive-page-padding(0);
  @include xl {
    background-image: url("/png/denture-and-implant-background.png");
    .content {
      padding-top: 5em;
    }
  }
  @include md {
    .content {
      .images {
        grid-column-gap: 1em;
      }
    }
  }
  @include sm {
    height: 1400px;
    .content {
      padding-bottom: 0;
      .dentures {
        margin-top: 4em;
        padding-bottom: 2em;
      }
      .dentures,
      .implants {
        height: fit-content;
        .title {
          white-space: nowrap;
          margin: 0 0 1em 0;
        }
        .images {
          grid-template-columns: 1fr 1fr;
          grid-gap: 1em;
          grid-column-gap: 0;
          .implant,
          .denture {
            width: fit-content;
            transform: scale(0.8);
          }
        }
      }
    }
  }
	@include xxs {
		height: 2200px; 
		.dentures, .implants {
			.images {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}

.containerHealthFunds {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: fit-content;
  background-color: var(--color-light);

  .smilingWoman {
    object-fit: scale-down;
    object-position: left bottom;
    position: absolute;
    height: 25em;
    left: -2em;
    bottom: 0;
  }

  .logos {
    @include responsive-page-padding(2em);
    height: fit-content;
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      text-align: center;
      margin: 0.5em 0;
      font-weight: normal;
      color: black;
      .bold {
        font-weight: bold;
      }
    }

    .healthFundLogos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: calc(100% - 200px);
      margin: 0.5em 0 0.5em 200px;
      .healthFundLogo {
        margin: 1em;
        max-width: 15em;
        max-height: 4em;
        object-fit: scale-down;
        overflow-x: auto;
        @include lg {
          height: 3em;
        }
        @include sm {
          height: 2em;
        }
      }
    }
    @include sm {
      margin: 0.5em 0;
      padding-bottom: 2em;
      .title {
        margin-bottom: 1em;
      }
      .healthFundLogos {
        margin: 0.5em 0;
        width: 100%;
      }
    }
  }
  .superannuation {
    height: fit-content;
    width: 100%;
    background-color: var(--color-grey);
    padding: 3em 1em 2em 5em;
    .content {
      width: 100%;
      max-width: 81ch;
      margin: 0 auto;
      .title {
        margin-bottom: 1em;
        .light {
          font-weight: 300;
        }
        color: var(--color-sd);
      }
      .description {
        .link {
          cursor: pointer;
          color: var(--color-sd);
          font-weight: bold;
        }
      }
    }
    @include md {
			.content {
				margin: 0 0 0 auto; 
				padding-right: 2em;
			}
      text-align: right;
    }
    @include sm {
      padding: 3em 2em;
      .title {
        margin-bottom: 1em;
        text-align: center;
      }
      .description {
        text-align: center;
      }
    }
  }
}

.containerReviewsWrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  .backgroundImage {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    max-height: 25em;
  }
  .reviews {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5em;
    .title {
      margin: 0 1em;
      font-weight: normal;
      color: var(--color-light);
    }

    .containerCard {
      width: 100%;
      display: flex;
      padding-top: 2em;
      justify-content: center;

      .card {
        margin: 0 1em;
        width: 100%;
        max-width: 45ch;
        border-radius: 10px;
        background-color: var(--color-light);
        padding: 2em;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .textReviewer,
        .textReview {
          @include p;
        }
        .textReview {
          margin: 0 0 1em 0;
        }
        .textReviewer {
          margin: 0;
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    @include md {
      @include fluid-type($breakpoint-xs, $breakpoint-md, 16px, 20px);
      height: fit-content;
      .containerCard {
        flex-direction: column;
        align-items: center;
        .card {
          margin: 1em 0;
          width: calc(100% - 2em);
          max-width: 40ch;
        }
      }
    }
  }
  @include sm {
		.backgroundImage {
			height: 200px;
			max-height: 200px;
		}
		.reviews {
			padding-top: 3em;
		}
	}
}
