.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: clamp(30em, 100%, 90em);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    .logo {
      color: var(--p1);
      width: 20em;
    }
    .links {
      display: flex;
    }
    .logo {
      margin-bottom: 2em;
    }

    .buttonWrapper {
      margin-bottom: .5em;
    }
  }
  .main {
    flex: 1;
  }
  .footer {
    padding: 4em 4em;
    .footerContent {
      display: flex;
      flex-direction: column;
      .footerLogo {
        width: 18em;
      }
      .linksAndSmallLogo {
				display: flex;
				width: 100%;
        .footerLinks {
          margin: 4em 0 1em 0;
          display: grid;
          grid-row-gap: 1em;
          grid-template-columns: 1fr 1fr 1fr;
          width: 60%;
          .footerLink {
            font-size: 16px;
            color: var(--sd);
          }
        }
        .smallLogoWrapper {
					width: 40%; 
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
