@import "utils/styles/variables";

.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 0.4em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken(white, 30%);
    border-radius: 10px;
  }

  .header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 5em;

    @include xl {
      padding: 4em 4em;
    }
    @include lg {
      padding: 3em 3em;
    }
    @include sm {
      padding: 2em 2em;
    }
    @include xxs {
      padding: 1em 1em;
    }
    .logo {
      color: var(--color-p1);
      width: 350px;
      margin: auto 0;
    }
    .hamburger {
      fill: var(--color-sd);
      height: 3em;
      width: 3em;
    }
    .containerLinks {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .links {
        margin-right: 2em;
        display: flex;
        align-items: center;
        .dropdownService {
          color: var(--color-sd);
          display: flex;
          align-items: center;
          font-size: 20px;
          .reversedTriangle {
            width: 0;
            height: 0;
            margin: 0 0 0 0.5em;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 8px solid var(--color-sd);
          }
        }
      }
    }

    .buttonWrapper {
      margin-bottom: 0.5em;
      display: flex;
      align-items: center;
      .iconWithLabel {
        display: flex;
        align-items: center;
        margin-right: 2em;
        cursor: pointer;
        .icon {
          height: 2em;
          width: 2em;
          margin-right: 1em;
        }
        .label {
          color: var(--color-sd);
          font-size: 2.5em;
          font-weight: 400;
          &:hover {
            color: var(--color-pm);
          }
        }
      }
    }
    @include lg {
      justify-content: space-between;
      align-items: center;
      .buttonWrapper,
      .links {
        display: none;
      }
      .dropdown {
        display: block;
      }
    }
  }
  .header.homePageHeader {
    margin-bottom: -12em;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
  }
  .footer {
    padding: 4em 9em;
    @include responsive-page-padding(4em);
    .footerContent {
      display: flex;
      flex-direction: column;
      .footerLogo {
        width: 18em;
      }
      .linksAndSmallLogo {
        display: flex;
        width: 100%;
        .footerLinks {
          margin: 4em 0 1em 0;
          display: grid;
          grid-row-gap: 1em;
          grid-template-columns: 1fr 1fr 1fr;
          width: 60%;
          .footerLink {
            font-size: 16px;
            color: var(--color-sd);
          }
        }
        .smallLogoWrapper {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include sm {
          .footerLinks {
            width: 100%;
          }
          .smallLogoWrapper {
            width: 0;
          }
        }
        @include xxs {
          .footerLinks {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

.callToBook {
  height: 100%;
  width: 100%;
  padding: 4em;
  border-radius: 8px;
  background: linear-gradient(269.56deg, #026e7a 27.44%, #2399a0 83.4%);
  color: var(--color-light);
  @include xxs {
    padding: 2em;
  }
  .locations {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
    @include sm {
      display: flex;
      flex-direction: column;
      .location {
        font-size: 48px;
        white-space: normal;
      }
      .address,
      .number {
        font-size: 24px;
      }
    }
  }
  .title {
    color: var(--color-light);
    @include xxs {
      font-size: 32px;
    }
  }
  .containerLocation {
    display: flex;
    flex-direction: column;
    .location {
      white-space: nowrap;
      font-weight: bold;
      font-size: 24px;
      @include xxs {
        font-size: 20px;
      }
      margin-bottom: 0;
      line-height: 1em;
    }
    .address,
    .number {
      color: var(--color-light);
      font-size: 24px;
      margin: 0;
      @include xxs {
        font-size: 16px;
      }
    }
    .number {
      font-weight: bold;
    }
  }
}
