@import 'utils/styles/variables';

.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: clamp(30em, 100%, 90em);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    .logo {
      color: var(--color-p1);
      width: 20em;
      margin-bottom: 2em;
    }
    .links {
      display: flex;
    }
    .buttonWrapper {
      margin-bottom: .5em;
    }

		.dropdown {
			display: none;
		}

		@media (max-width: $breakpoint-lg) {
			justify-content: space-between;
			align-items: center;
			padding: 0 2em;
			.logo {
				margin: 2em 0;
			}
			.buttonWrapper, .links {
				display: none;
			}
			.dropdown {
				display: block;
			}
		}
  }
  .main {
    flex: 1;
  }
  .footer {
    padding: 4em 9em;
		@media (max-width: $breakpoint-md) {
			padding: 4em 5em;
		}
		@media (max-width: $breakpoint-sm) {
			padding: 4em 2em ;
		}
    .footerContent {
      display: flex;
      flex-direction: column;
      .footerLogo {
        width: 18em;
      }
      .linksAndSmallLogo {
				display: flex;
				width: 100%;
        .footerLinks {
          margin: 4em 0 1em 0;
          display: grid;
          grid-row-gap: 1em;
          grid-template-columns: 1fr 1fr 1fr;
          width: 60%;
          .footerLink {
            font-size: 16px;
            color: var(--color-sd);
          }
        }
        .smallLogoWrapper {
					width: 40%; 
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
