@import "utils/styles/variables";

.card {
  position: relative;
  width: 100%;
  height: fit-content;
	@include responsive-page-padding(0); 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .content {
    width: 100%;
  }
  .h3 {
    margin: 0.5em 0 0.75em 0;
    color: var(--color-p);
  }
  .heroImage {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
  p {
    font-size: 20px;
  }
}
