@import "utils/styles/variables";

.heroAndDenturesWrapper {
  .heroWrapper {
    height: 60em;
    margin-bottom: -6em;
    .heroImageXLContainer {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
			height: calc(100% + 6em); 
      background-color: var(--color-bgl);
			object-position: top; 
      .heroImageXL {
        width: 40em;
        position: absolute;
        bottom: 0;
        left: calc(50% - 5em);
      }
    }
    .heroImage {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
			height: calc(100% + 6em); 
      object-fit: cover;
      object-position: bottom;
    }
    .heroTagline {
      position: relative;
      margin: 10em 15em;
      .title {
        font-weight: normal;
      }
      .subtitle {
        font-weight: normal;
        color: var(--color-p);
      }
      .button {
        margin: 1em 0;
      }
      @include responsive-page-padding(0);
    }
  }

}
.reviewsWrapper {
  position: relative;
  height: fit-content;
  .background {
    z-index: -9999;
    position: absolute;
    height: 15em;
    width: 200vw;
    left: -50vw;
    background: var(--bg-gradient-1);
  }
  .reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      font-weight: normal;
      color: var(--color-light);
    }
    color: black;
    padding: 5em 0 10em 0;
  }
}
