.linkWrapper {
	padding: 1em .25em .25em .25em ;
	margin: 0 .75em .75em .75em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	.icon {
		margin-bottom: 0.5em;
	}
}

.selected {
	border-bottom: 2px solid var(--color-sd);
	font-weight: bold; 
}
.notSelected {
	&:hover {
		font-weight: bold; 
	}
}
