// Breakpoints

$breakpoint-xxs: 500px;
$breakpoint-xs: 720px;
$breakpoint-sm: 960px;
$breakpoint-md: 1280px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1660px;

// Responsive paddings
@mixin responsive-page-padding($paddingY) {
  padding: $paddingY 5em;

  @media (max-width: $breakpoint-xl) {
    padding: $paddingY 4em;
  }
  @media (max-width: $breakpoint-lg) {
    padding: $paddingY 3em;
  }
  @media (max-width: $breakpoint-md) {
    padding: $paddingY 2em;
  }
  @media (max-width: $breakpoint-sm) {
    padding: $paddingY 1em;
  }
}

// Responsive width
@mixin xxs {
  @media (max-width: #{$breakpoint-xxs}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$breakpoint-xl}) {
    @content;
  }
}

// Typography
@mixin h1 {
	font-family: Causten;
	font-size: 72px;
	@include lg {
		font-size: 64px;
	}
	@include sm {
		font-size: 40px;
	}
}

@mixin h2 {
	font-family: Causten;
	font-size: 64px;
	@include lg {
		font-size: 48px;
	}
	@include sm {
		font-size: 32px;
	}
}

@mixin h3 {
	font-family: Causten;
	font-size: 48px;
	@include lg {
		font-size: 36px;
	}
	@include sm {
		font-size: 24px;
	}
}

@mixin sh {
	font-family: Causten;
	font-size: 36px;
	@include lg {
		font-size: 24px;
	}
	@include sm {
		font-size: 18px;
	}
}

@mixin p {
	font-family: Causten;
	font-size: 24px;
	@include lg {
		font-size: 18px;
	}
	@include sm {
		font-size: 16px;
	}
}

// Fluid Typography
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
	
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
