// Breakpoints
$breakpoint-xs: 720px;
$breakpoint-sm: 960px;
$breakpoint-md: 1280px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1860px;

// Responsive paddings
@mixin responsive-page-padding($paddingY) {
	padding: $paddingY 9em;

	@media(max-width: $breakpoint-xl) {
		padding: $paddingY 9em;
	}
	@media(max-width: $breakpoint-lg) {
		padding: $paddingY 7em;
	}
	@media(max-width: $breakpoint-md) {
		padding: $paddingY 5em;
	}
	@media(max-width: $breakpoint-sm) {
		padding: $paddingY 3em;
	}
}
