:root {
	--color-p: #008999; // primary color
	--color-pm: #46acb9; // primary color
	--color-s: #eaf6f7; // secondary color
	--color-sm: #d5eaed; // secondary muted color
	--color-slm: #E8F2F3; // secondary light muted color
	--color-sd: #00636f; // secondary dark color
	--color-lb: #EAF6F7;
	--color-light: #fff;
	--color-dark: #000;
	--color-grey: #E9E9E9;
	--color-bgl: #f9faf9; 

	--bg-gradient-1: linear-gradient(269.56deg, #008999 27.44%, #28A79F 83.4%);
}

@font-face {
	font-family: Causten;
	src: url("../fonts/Causten-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: Causten;
	src: url("../fonts/Causten-Bold.otf") format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: Causten;
	src: url("../fonts/Causten-SemiBold.otf") format("opentype");
	font-weight: 600;
}

@font-face {
	font-family: Poppins;
	src: url("../fonts/Poppins-Light.ttf") format("truetype");
	font-weight: 300;
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: Causten;
	line-height: 1em;
	margin: 0; 
	color: var(--color-sd);
	letter-spacing: -2.5px;
}

h1, h2, h3 {
	font-weight: 600;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -1px;
}

.sb1 {
	font-family: Causten;
	font-size: 18px;
	line-height: 1em;
	font-weight: 400;
}

.sb2 {
	font-family: Causten;
	font-size: 16pt;
	line-height: 1em;
	font-weight: 400;
}

p {
	font-family: Poppins;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5em;

}

a {
	font-family: Causten;
	font-size: 20px;
	color: var(--color-sd);
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
